<a href="https://colab.research.google.com/github/tonpiplaifa/KKU_data_mining/blob/master/Pandas101.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [3]:
ls

drive/  sample_data/

In [4]:
path = '/content/drive/My Drive/DWDM_material'

In [5]:
import pandas

In [6]:
import os

In [7]:
search_click = os.path.join(path,'search_click.csv')
w_restaurant = os.path.join(path,'w_restaurant.csv')

In [8]:
search_click_df = pandas.read_csv(search_click)

In [9]:
search_click_df.head()

  click_timestamp                             search_id  ...  time_diff_nanos   ads
0         11:38.9  5c004472-5ecc-4159-9698-9f329b8e26e1  ...     2.222400e+15  True
1         30:51.3  5f34eca0-c04e-4c10-b600-54aa447dbd8e  ...     4.608380e+14  True
2         32:09.6  8dc6d1f0-11f1-4239-9dd2-5c1674c81224  ...     2.581490e+15  True
3         00:59.8  1a5810e9-3d1f-44b9-9a2e-26ede21c524b  ...     1.404580e+15  True
4         23:36.8  6bc75e0d-fc65-471e-9926-ff6be6708639  ...     9.333590e+14  True

[5 rows x 6 columns]

In [10]:
w_restaurant_df = pandas.read_csv(w_restaurant)

In [11]:
w_restaurant_df.shape

(246847, 32)

In [12]:
w_restaurant_df.head()

   id              name  domain_id  ...  hotel_restaurant pet_friendly delivery
0   2  นครินทร์ทันตกรรม          2  ...               NaN          NaN      NaN
1   4      Corner House          1  ...               NaN          NaN      NaN
2   5    วัดโลกยสุธาราม          4  ...               NaN          NaN      NaN
3   6    นันท์คาราโอเกะ          1  ...               NaN          NaN      NaN
4   7       Buono Caffe          1  ...               NaN          NaN      NaN

[5 rows x 32 columns]

## การชี้ข้อมูลในตาราง

In [13]:
search_click_df['search_id']

0          5c004472-5ecc-4159-9698-9f329b8e26e1
1          5f34eca0-c04e-4c10-b600-54aa447dbd8e
2          8dc6d1f0-11f1-4239-9dd2-5c1674c81224
3          1a5810e9-3d1f-44b9-9a2e-26ede21c524b
4          6bc75e0d-fc65-471e-9926-ff6be6708639
                           ...
1048570    99aab616-6fc5-4fbf-994b-4aebee7bb360
1048571    d70a2c5d-ee94-4e4c-9f7c-c5faac6db12a
1048572    4c1de7fe-300e-41aa-9d01-914344fc3753
1048573    2ec0ddec-e450-4b98-9779-42b77aa7eda5
1048574    5741d9cf-b9f1-441d-aa83-d2b0179bf874
Name: search_id, Length: 1048575, dtype: object

In [14]:
search_click_df['search_id'][0]

'5c004472-5ecc-4159-9698-9f329b8e26e1'

### .iloc

In [15]:
search_click_df.iloc[0,1]

'5c004472-5ecc-4159-9698-9f329b8e26e1'

In [16]:
search_click_df.iloc[:10,:2]

  click_timestamp                             search_id
0         11:38.9  5c004472-5ecc-4159-9698-9f329b8e26e1
1         30:51.3  5f34eca0-c04e-4c10-b600-54aa447dbd8e
2         32:09.6  8dc6d1f0-11f1-4239-9dd2-5c1674c81224
3         00:59.8  1a5810e9-3d1f-44b9-9a2e-26ede21c524b
4         23:36.8  6bc75e0d-fc65-471e-9926-ff6be6708639
5         48:16.7  92ea02ba-2c89-4efd-973c-e23526c531de
6         39:18.4  79d61918-fb3e-4181-99b6-7a7abddfcdb1
7         33:39.0  7f8b2b57-dea1-4fe1-84c8-5a7d63750e47
8         07:48.3  3d9217bb-3eae-42b5-8cf3-a756efae2cfa
9         41:25.4  a2cb0d41-6e1f-4169-9140-cb671fbb41dc

In [17]:
w_restaurant_df[['name','city_name','weighted_average_rating']]

                                        name  ... weighted_average_rating
0                           นครินทร์ทันตกรรม  ...                5.000000
1                               Corner House  ...                2.000000
2                             วัดโลกยสุธาราม  ...                4.000000
3                             นันท์คาราโอเกะ  ...                0.000000
4                                Buono Caffe  ...                3.738462
...                                      ...  ...                     ...
246842                            Sushi Tama  ...                3.663522
246843                     สะบายดี คาราโอเกะ  ...                0.000000
246844                      สเต็กแม่&กาแฟลูก  ...                4.000000
246845                              Mom Made  ...                5.000000
246846  ก๋วยเตี๋ยวหมูน้ำตก ก๋วยเตี๋ยวเรือทอง  ...                3.000000

[246847 rows x 3 columns]

## Missing Values

In [18]:
search_click_df.isnull()

         click_timestamp  search_id  ...  time_diff_nanos    ads
0                  False      False  ...            False  False
1                  False      False  ...            False  False
2                  False      False  ...            False  False
3                  False      False  ...            False  False
4                  False      False  ...            False  False
...                  ...        ...  ...              ...    ...
1048570            False      False  ...            False  False
1048571            False      False  ...            False  False
1048572            False      False  ...            False  False
1048573            False      False  ...            False  False
1048574            False      False  ...            False  False

[1048575 rows x 6 columns]

In [19]:
search_click_df.isnull().any()

click_timestamp     False
search_id            True
business_id          True
display_position    False
time_diff_nanos     False
ads                 False
dtype: bool

In [20]:
search_click_df.isnull().any().any()

True

## การจัดการ missing

In [21]:
search_click_df_nm = search_click_df.dropna()

In [22]:
search_click_df_nm.isnull().any().any()

False

In [23]:
print(search_click_df.shape)
print(search_click_df_nm.shape)

(1048575, 6)
(1048206, 6)

## Excercise 1 ตารางตรวจสอบว่าการลบข้อมูล missing ออก จากตาราง w_restaurant จะทำให้ข้อมูลลดลงกี่ %

In [24]:
w_restaurant_df_nm = w_restaurant_df.dropna()

In [25]:
size_before_drop = w_restaurant_df.shape[0]
size_after_drop = w_restaurant_df.dropna().shape[0]
print(f'size before drop = {size_before_drop} \nsize after drop = {size_after_drop} \nwhich is {100*((size_before_drop-size_after_drop)/size_before_drop)}')

size before drop = 246847
size after drop = 4
which is 99.99837956304918

วิธีที่ 1.5

In [26]:
w_restaurant_df.isnull().any()

id                         False
name                       False
domain_id                  False
closed                     False
city_name                  False
zipcode                     True
geohash                    False
new_open                   False
weighted_average_rating    False
number_of_chains            True
number_of_bookmarks         True
number_of_reviews          False
number_of_product_tags     False
total_number_of_views      False
number_of_checkins         False
number_of_menu_groups      False
number_of_menu_photos      False
category_name              False
price_range                 True
avg_price                   True
parking                     True
credit_card_accepted        True
good_for_groups             True
good_for_kids               True
bookable                    True
best_of_wongnai             True
wifi                        True
number_of_seats             True
music_venue                 True
hotel_restaurant            True
pet_friendly                True
delivery                    True
dtype: bool

In [27]:
w_restaurant_df.dropna(subset=['id','name','price_range']).shape

(180972, 32)

วิธีที่ 2 การนำค่าที่เหมาะสมมาแทนที่

In [28]:
w_restaurant_df[['number_of_chains']] = w_restaurant_df[['number_of_chains']].fillna(0)

In [29]:
w_restaurant_df.isnull().any()

id                         False
name                       False
domain_id                  False
closed                     False
city_name                  False
zipcode                     True
geohash                    False
new_open                   False
weighted_average_rating    False
number_of_chains           False
number_of_bookmarks         True
number_of_reviews          False
number_of_product_tags     False
total_number_of_views      False
number_of_checkins         False
number_of_menu_groups      False
number_of_menu_photos      False
category_name              False
price_range                 True
avg_price                   True
parking                     True
credit_card_accepted        True
good_for_groups             True
good_for_kids               True
bookable                    True
best_of_wongnai             True
wifi                        True
number_of_seats             True
music_venue                 True
hotel_restaurant            True
pet_friendly                True
delivery                    True
dtype: bool

### วิธีที่ 2.1 replace with unknown value

## วิธีที่ 3 เติมค่าที่เหมาะสมตามกลุ่มของมัน

In [30]:
|w_restaurant_df.head()

SyntaxError: ignored

In [ ]:
w_restaurant_df[['name','city_name','avg_price']]

In [ ]:
new_table = w_restaurant_df[['name','city_name','avg_price']]

### [pandas] select data

In [ ]:
new_table['city_name'] == 'Bangkok Metropolitan Region'

In [ ]:
new_table[new_table['city_name']=='Bangkok Metropolitan Region']

In [ ]:
selected_list = new_table['city_name'] == 'Bangkok Metropolitan Region'
selected_list

In [ ]:
selected_list = new_table['city_name'] == 'Khon Kaen'
selected_list

In [ ]:
new_table[selected_list]

In [ ]:
new_table[new_table['city_name'] == 'Bangkok Metropolitan Region'].dropna()['avg_price'].mean()

In [ ]:
bkk_table = new_table[new_table['city_name']=='Bangkok Metropolitan Region']
bkk_table.head()

In [ ]:
bkk_table_dp = bkk_table.dropna()
bkk_table_dp.head()

In [ ]:
bkk_table_dp_avg_price = bkk_table_dp['avg_price']
bkk_table_dp_avg_price

In [ ]:
bkk_table_dp_avg_price.mean()

### เติมค่าที่เหมาะสมตามกลุ่มของมัน

In [ ]:
bkk_table[['avg_price']]=bkk_table[['avg_price']].fillna(bkk_table_dp_avg_price.mean())
bkk_table.head()

In [ ]:
#bkk_table[['avg_price']]=bkk_table[['avg_price']].fillna(bkk_table_dp_avg_price.mean(),inplace=True)
#bkk_table.head()

## EX 9 หาว่าราคาเฉลี่ยของร้านในเชียงใหม่เท่ากับกี่บ้าน

--------------------------------------- เชียงใหม่ -----------------------------------------------

In [ ]:
new_table[new_table['city_name']=='Chiang Mai'].dropna()['avg_price'].mean()

In [ ]:
cm_table = new_table[new_table['city_name']=='Chiang Mai']
cm_table.head()

In [ ]:
cm_table_dp = cm_table.dropna()
cm_table_dp.head()

In [ ]:
cm_table_dp_avg_price = cm_table_dp['avg_price']
cm_table_dp_avg_price

In [ ]:
cm_table_dp_avg_price.mean()

**สรุป **ราคาเฉลี่ยของแต่ละร้านในเชียงใหม่ถูกกว่ากรุงเทพ

 **แก้ไข missing**

In [ ]:
cm_table[['avg_price']]=cm_table[['avg_price']].fillna(cm_table_dp_avg_price.mean())
cm_table.head()

**[pandas] ต่อตารางในแนวแกน Y (เพิ่มจำนวน data ) pd.concat**

In [ ]:
pd_concat = pandas.concat([bkk_table,cm_table])
pd_concat

##วิธีที่ 3 Looping (concat)

1. ดึงจังหวัดที่มีอยู่ทั้งหมดในตารางออกมา

In [ ]:
new_table['city_name']

In [ ]:
all_cities = set(new_table['city_name'])
len(all_cities)

In [ ]:
all_mean = new_table.dropna(subset=['avg_price'])['avg_price'].mean()
all_mean

In [ ]:
all_cities_list = []
for each_city in list(all_cities):

    # cm_table = new_table[new_table['city_name']=='Chiang Mai']
    # cm_table[['avg_price']] = cm_table[['avg_price']].fillna(new_table[new_table['city_name']=='Chiang Mai'].dropna()['avg_price'].mean())
 
    temp_table = new_table[new_table['city_name']==each_city].copy()
    temp_table[['avg_price']] = temp_table[['avg_price']].fillna(new_table[new_table['city_name']==each_city].dropna()['avg_price'].mean())
    all_cities_list.append(temp_table)

##สร้างตารางจาก list ของตารางด้วย pd concat

In [ ]:
all_no_missing = pandas.concat(all_cities_list)
all_no_missing

# 5. เติมค่า mean ของทั้งตารางให้กับจังหวัดที่ไม่มี mean

In [ ]:
all_no_missing = all_no_missing.fillna(all_mean)
all_no_missing.isnull().any()

## Remove Outlier (boxplot)

### Quiz วาด Boxblot ของค่า 'avg_price' ของตาราง all_no_missing

In [ ]:
from matplotlib import pyplot as plt

In [ ]:
plt.boxplot(all_no_missing['avg_price'])

In [ ]:
ret= plt.boxplot(all_no_missing['avg_price'],vert = False)

In [ ]:
print(ret['whiskers'][0].get_xdata()[1])
print(ret['whiskers'][1].get_xdata()[1])

In [ ]:
nooutlier_nomissing = all_no_missing[all_no_missing]

##Data

### 1. Adding a field from other table

or merge the entire tables https://www.kaggle.com/crawford/python-merge-tutorial/#

### one selected column
.map() copy a column from other table

In [33]:
search_click_df['bu_name'] = search_click_df['business_id'].map(w_restaurant_df.set_index('id')['name'])

In [34]:
search_click_df

        click_timestamp  ...                  bu_name
0               11:38.9  ...        ปูดองอันยอง Eight
1               30:51.3  ...                Yoshinoya
2               32:09.6  ...  The Hub Cafe and Eatery
3               00:59.8  ...     ซั่งไห่ เสี่ยวหลงเปา
4               23:36.8  ...                Yoshinoya
...                 ...  ...                      ...
1048570         05:28.8  ...              เสกแจ่วฮ้อน
1048571         15:28.8  ...    ก๋วยเตี๋ยวหมูหน่อกะลา
1048572         11:49.4  ...      Laemcharoen Seafood
1048573         10:33.7  ...     เอี่ยวไถ่ สุกี้โบราณ
1048574         13:51.4  ...                  Icy-me

[1048575 rows x 7 columns]

In [36]:
search_click_df['city'] = search_click_df['business_id'].map(w_restaurant_df.set_index('id')['city_name'])
search_click_df

        click_timestamp  ...                         city
0               11:38.9  ...  Bangkok Metropolitan Region
1               30:51.3  ...  Bangkok Metropolitan Region
2               32:09.6  ...  Bangkok Metropolitan Region
3               00:59.8  ...  Bangkok Metropolitan Region
4               23:36.8  ...  Bangkok Metropolitan Region
...                 ...  ...                          ...
1048570         05:28.8  ...                   Chaiyaphum
1048571         15:28.8  ...  Bangkok Metropolitan Region
1048572         11:49.4  ...  Bangkok Metropolitan Region
1048573         10:33.7  ...  Bangkok Metropolitan Region
1048574         13:51.4  ...                 Prachin Buri

[1048575 rows x 8 columns]

### merge two tables
.merge()

In [31]:
merged_table = search_click_df.merge(w_restaurant_df,how='left',left_on='business_id',right_on='id')

In [32]:
merged_table

        click_timestamp  ... delivery
0               11:38.9  ...      1.0
1               30:51.3  ...      1.0
2               32:09.6  ...      NaN
3               00:59.8  ...      1.0
4               23:36.8  ...      1.0
...                 ...  ...      ...
1048570         05:28.8  ...      NaN
1048571         15:28.8  ...      NaN
1048572         11:49.4  ...      1.0
1048573         10:33.7  ...      1.0
1048574         13:51.4  ...      NaN

[1048575 rows x 38 columns]

##Group By -- Aggregation
https://www.kaggle.com/crawford/python-groupby-tutorial#

In [38]:
search_click_df.groupby('business_id').count()

             click_timestamp  search_id  display_position  ...  ads  bu_name  city
business_id                                                ...
2.0                        4          4                 4  ...    4        4     4
5.0                        2          2                 2  ...    2        2     2
6.0                        6          6                 6  ...    6        6     6
7.0                        3          3                 3  ...    3        3     3
14.0                       5          5                 5  ...    5        5     5
...                      ...        ...               ...  ...  ...      ...   ...
340060.0                   4          4                 4  ...    4        4     4
340063.0                   1          1                 1  ...    1        1     1
340067.0                   2          2                 2  ...    2        2     2
340068.0                   6          6                 6  ...    6        6     6
340070.0                   9          9                 9  ...    9        9     9

[141536 rows x 7 columns]

In [41]:
search_click_df.groupby('business_id').count().sort_values('click_timestamp')

             click_timestamp  search_id  display_position  ...   ads  bu_name  city
business_id                                                ...
122473.0                   1          1                 1  ...     1        1     1
136485.0                   1          1                 1  ...     1        1     1
275120.0                   1          1                 1  ...     1        1     1
136492.0                   1          1                 1  ...     1        1     1
136498.0                   1          1                 1  ...     1        1     1
...                      ...        ...               ...  ...   ...      ...   ...
150227.0                1377       1377              1377  ...  1377     1377  1377
273486.0                1417       1417              1417  ...  1417     1417  1417
112509.0                2130       2130              2130  ...  2130     2130  2130
142707.0                2811       2811              2811  ...  2811     2811  2811
182530.0                3833       3833              3833  ...  3833     3833  3833

[141536 rows x 7 columns]

In [45]:
w_restaurant_df[w_restaurant_df['id']==182530.0]

            id      name  domain_id  ...  hotel_restaurant pet_friendly delivery
124030  182530  หนานหยวน          1  ...               NaN          NaN      NaN

[1 rows x 32 columns]

## Quiz หาจังหวัดที่มีคน click เข้าไปมากที่สุดสามอันดับแรก

In [51]:
search_click_df.groupby('city').count().sort_values('click_timestamp')

                             click_timestamp  search_id  ...     ads  bu_name
city                                                     ...
Wisconsin                                  1          1  ...       1        1
Mie-ken                                    1          1  ...       1        1
Tamil Nadu                                 1          1  ...       1        1
Vladimirskaya oblast'                      1          1  ...       1        1
Tainan City                                1          1  ...       1        1
...                                      ...        ...  ...     ...      ...
Rayong                                 17986      17986  ...   17986    17986
Phuket                                 18560      18560  ...   18560    18560
Chon Buri                              51535      51535  ...   51535    51535
Chiang Mai                             56775      56775  ...   56775    56775
Bangkok Metropolitan Region           596980     596963  ...  596980   596980

[365 rows x 7 columns]